
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="text-muted">&copy; 2014 CTRL-H</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center text-muted">
            <p class="h3">Found typos? Content missing?</p>
            <p>
              Our website's content is open source.
              Please either <a href="https://github.com/ctrl-h/ctrl-h.org" targe="_blank">fork the repository</a>,
              <a href="https://github.com/ctrl-h/ctrl-h.org/issues" targe="_blank">create an issue</a>
              or <a href="/aboutus/">contact us</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
