<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">^H</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav nav-centered">
        <li><a href="/about" title="About Us" style="background-color: #C71585"><span class="fa fa-puzzle-piece"></span></a></li>
        <li><a href="/space" title="Our Space" style="background-color: #7B68EE"><span class="fa fa-cloud"></span></a></li>
        <li><a href="https://github.com/ctrl-h/task-manager/issues" title="Task Manager" style="background-color: #FF0000"><span class="fa fa-clock-o"></span></a></li>
        <li><a href="/webcam" title="Webcam" style="background-color: #000000"><span class="fa fa-camera"></span></a></li>
        <li><a href="/find-us" title="Find Us" style="background-color: #8A2BE2"><span class="fa fa-truck"></span></a></li>
        <li><a href="/webirc" title="IRC" style="background-color: #999999"><span class="fa fa-linux"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><i class="navbar-text">Portland's Newest Hackerspace</i></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
