body {
  padding-top: 90px;
}
.navbar-default {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-brand {
  z-index: 10;
  position: absolute;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 100;
}
.nav-centered {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
.nav-centered > li {
  float: none;
  display: inline-block;
}
.nav-centered > li > a {
  width: 50px;
  font-size: 1.3em;
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-centered > li > a > span {
  color: #ffffff;
}
.homepage-jumbotron {
  border-bottom: 1px solid #EEE;
  padding-bottom: 1em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.index-widget {
  min-height: 200px;
  text-align: center;
}
.index-widget > a {
  text-decoration: none;
  color: #000000;
}
.index-widget > a > .circle-icon {
  font-size: 24px;
  width: 65px;
  height: 65px;
  top: 0;
  left: 50%;
  margin-left: -32.5px;
  position: absolute;
  display: inline-block;
  border-radius: 130px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index-widget > a > .circle-icon > span {
  width: 100%;
  height: 1em;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.1em;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5em;
}
.index-widget > a > h4 {
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 10px;
}
.index-widget > a > p.text {
  color: #5e5e5e;
}
.index-widget > a > p.mi {
  display: block;
  text-decoration: none;
  color: #3b3b3b;
  font-weight: bold;
}

.main-content .row {
  margin-top: 2em;
}
