{{ template "chrome/header.html" . }}


  <div class="main-content container">
    <div class="homepage-jumbotron">
      <div class="container jumbotron-cover">
        <div class="text-center">
          <span class="h1">Welcome to CTRL-H</span>
          <span class="lead">
            Portland's newest hackerspace
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 index-widget">
        <a href="/about">
          <div class="circle-icon" style="background-color: #C71585">
            <span class="fa fa-puzzle-piece"></span>
          </div>
          <h4>About Us</h2>
          <p class="text">
            Find out who we are, how we started, and how to get involved.
          </p>
          <p class="mi">More Info <span class="fa fa-caret-right"></span></p>
        </a>
      </div>
      <div class="col-md-4 index-widget">
        <a href="/space">
          <div class="circle-icon" style="background-color: #7B68EE">
            <span class="fa fa-cloud"></span>
          </div>
          <h4>Our Space</h2>
          <p class="text">
            Tour our space virtually, view our live webcam, come visit us.
          </p>
          <p class="mi">More Info <span class="fa fa-caret-right"></span></p>
        </a>
      </div>
      <div class="col-md-4 index-widget">
        <a href="https://github.com/ctrl-h/task-manager/issues">
          <div class="circle-icon" style="background-color: #FF0000">
            <span class="fa fa-clock-o"></span>
          </div>
          <h4>Task Manager</h2>
          <p class="text">
            Find out who we are, how we started, and how to get involved.
          </p>
          <p class="mi">More Info <span class="fa fa-caret-right"></span></p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 index-widget">
        <a href="/webcam">
          <div class="circle-icon" style="background-color: #000000">
            <span class="fa fa-camera"></span>
          </div>
          <h4>Webcam</h2>
          <p class="text">
            See what we're up to.
          </p>
          <p class="mi">More Info <span class="fa fa-caret-right"></span></p>
        </a>
      </div>
      <div class="col-md-4 index-widget">
        <a href="/find-us">
          <div class="circle-icon" style="background-color: #8A2BE2">
            <span class="fa fa-truck"></span>
          </div>
          <h4>Find Us</h2>
          <p class="text">
            How to get here.
          </p>
          <p class="mi">More Info <span class="fa fa-caret-right"></span></p>
        </a>
      </div>
      <div class="col-md-4 index-widget">
        <a href="/webirc">
          <div class="circle-icon" style="background-color: #999999">
            <span class="fa fa-linux"></span>
          </div>
          <h4>IRC</h2>
          <p class="text">
            Join us on IRC right from the web!
          </p>
          <p class="mi">More Info <span class="fa fa-caret-right"></span></p>
        </a>
      </div>
    </div>
  </div>

{{ template "chrome/footer.html" }}
